
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #F5EBE0;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

.port i{
    color: #5C4033 !important;
    font-size: 20px;
    margin-right: 3px;
}

.title{
    color: #5C4033;
}

.logo {
  line-height: 1;
}

.logo img {
  max-height: 26px;
  margin-right: 6px;
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #5C4033;
  font-family: "Nunito", sans-serif;
}

.header {
  transition: all 0.5s;
  z-index: 999;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding: 15px 0 0 10px;
  margin: -7.5px -5px 0 -6px;
}

.bg-header{
    background-color: #E3D5CA;
}

.bg-sidebar{
    background-color: #D5BDAF !important;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 52px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.nav-item-contacts{
    margin-bottom: 15px !important;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #8B5E3C;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #8B5E3C !important;
}

.sidebar-nav .nav-link.collapsed {
  color: #8B5E3C;
  background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: #C19A6B;
  background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
  color: #C19A6B !important;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #4154f1;
}

.sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
}

.img img{
    width: 400px;
    height: 350px;
}

.img-edit{
    display: inline;
}

.img-edit img{
    width: 30px;
    height: 30px;
}

.card-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}

.inCard{
    margin: 10px 5px !important;
}

.box{
    padding: 5px;
}

.inCard .box .img img{
    border-radius: 5px !important;
    width: 100%;
}

.box .contentBox{
    padding: 10px;
}

.form-w{
    width: 100% !important;
}

.formToSearch{
    display: flex;
    justify-content: center;
}

.search{
    width: 300px;
    margin-bottom: 10px;
    padding: 5px;
}

.formToSearch button{
    width: 33px;
    height: 33px;
    background-color: #444444;
    border: #444444;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 2px;
}

.formToSearch button:hover{
    background-color: gray;
    transition: all .3s;
}

.Portfolio{
    background-color: #fff;
    padding: 5px 15px;
    margin-left: 30%;
    border-radius: 5px;
    border: 1px solid #8B5E3C;
    font-size: 16px;
    font-weight: 600;
    color: #8B5E3C;
}

.Portfolio:hover{
    color: #C19A6B;
    background: #f6f9ff;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
}

